html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}table{border-collapse:collapse;border-spacing:0}

html,body{height:100%}body{color:#000;font-family:"Roboto",sans-serif;display:flex;flex-direction:column}a{color:blue}a:hover{color:#0000cd}h1,h2,h3,h4,h5,h6{font-family:"Cutive Mono",monospace}h1{font-size:2rem}h2{font-size:1.3rem}h3+*{margin-top:8px}.header{border-bottom:1px dashed #eee;padding:32px 16px}@media only screen and (max-width: 767px){.header{display:flex;flex-direction:column;align-items:center;justify-content:center}.header h1,.header h2{text-align:center}}.header h2{color:#666;margin-top:8px}.header nav{font-size:.8rem;margin-top:8px}.header nav a{margin-right:8px}.content{flex:1 0 auto;line-height:1.5;padding:32px 16px}.footer{border-top:1px dashed #eee;font-size:.8rem;flex-shrink:0;padding:32px 16px;display:flex;justify-content:space-between}@media only screen and (max-width: 767px){.footer{display:flex;flex-direction:column;align-items:center;justify-content:center}}.footer__links>a{margin-right:8px}.footer__credits a{margin-left:4px}@media only screen and (max-width: 767px){.footer__credits{margin-top:16px}}.syntax-highlight-container{width:50vw}@media only screen and (max-width: 767px){.syntax-highlight-container{width:auto}}@media only screen and (max-width: 767px) and (orientation: landscape){.syntax-highlight-container{width:auto}}hr{border:none;height:1px;margin:8px 0}hr.hr--medium{margin:16px 0}hr.hr--large{margin:24px 0}.demo-container input{width:30vw;font-size:1.1rem;padding:8px 0px}@media only screen and (max-width: 767px){.demo-container input{width:100%}}.demo-container .result-container{width:50vw;margin-top:16px}@media only screen and (max-width: 767px){.demo-container .result-container{width:auto}}.demo-container .result-container>div{margin-bottom:16px}.demo-container .result-container>div>div:first-of-type{font-weight:bold;font-style:italic}.demo-container .result-container>div>div:nth-of-type(2){font-size:0.9rem;margin-top:8px}.demo-container .result-container>div>div:nth-of-type(2)>span{color:#787878}.demo-container .result-container>div>div:nth-of-type(2)>span:not(:first-of-type){margin-left:8px}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	/* This background color was intended by the author of this theme. */
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function,
.token.class-name {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

